.styleguide-viewer div,
.styleguide-viewer span,
.styleguide-viewer applet,
.styleguide-viewer object,
.styleguide-viewer iframe,
.styleguide-viewer h1,
.styleguide-viewer h2,
.styleguide-viewer h3,
.styleguide-viewer h4,
.styleguide-viewer h5,
.styleguide-viewer h6,
.styleguide-viewer p,
.styleguide-viewer blockquote,
.styleguide-viewer pre,
.styleguide-viewer a,
.styleguide-viewer abbr,
.styleguide-viewer acronym,
.styleguide-viewer address,
.styleguide-viewer big,
.styleguide-viewer cite,
.styleguide-viewer code,
.styleguide-viewer del,
.styleguide-viewer dfn,
.styleguide-viewer em,
.styleguide-viewer font,
.styleguide-viewer img,
.styleguide-viewer ins,
.styleguide-viewer kbd,
.styleguide-viewer q,
.styleguide-viewer s,
.styleguide-viewer samp,
.styleguide-viewer small,
.styleguide-viewer strike,
.styleguide-viewer strong,
.styleguide-viewer sub,
.styleguide-viewer sup,
.styleguide-viewer tt,
.styleguide-viewer var,
.styleguide-viewer dl,
.styleguide-viewer dt,
.styleguide-viewer dd,
.styleguide-viewer ol,
.styleguide-viewer ul,
.styleguide-viewer li,
.styleguide-viewer fieldset,
.styleguide-viewer form,
.styleguide-viewer label,
.styleguide-viewer legend,
.styleguide-viewer table,
.styleguide-viewer caption,
.styleguide-viewer tbody,
.styleguide-viewer tfoot,
.styleguide-viewer thead,
.styleguide-viewer tr,
.styleguide-viewer th,
.styleguide-viewer td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

.styleguide-viewer {
  line-height: 1;
  color: black;
  background: white;
}
.styleguide-viewer ol,
.styleguide-viewer ul {
  list-style: none;
}

.styleguide-viewer table {
  border-collapse: separate;
  border-spacing: 0;
}
.styleguide-viewer caption,
.styleguide-viewer th,
.styleguide-viewer td {
  text-align: left;
  font-weight: normal;
}
.styleguide-viewer blockquote:before,
.styleguide-viewer blockquote:after,
.styleguide-viewer q:before,
.styleguide-viewer q:after {
  content: "";
}
.styleguide-viewer blockquote,
.styleguide-viewer q {
  quotes: "" "";
}
